name: Check
on:
  push:
    paths:
      - '**.nix'
      - flake.lock
  pull_request:
  workflow_dispatch:

jobs:
  nix-flake:
    name: Nix flake
    runs-on: ubuntu-22.04

    steps:
      - name: Clone repository
        uses: actions/checkout@v6

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v21
        with:
          extra-conf: |
            log-lines = 500

      - name: Set up Magic Nix Cache
        uses: DeterminateSystems/magic-nix-cache-action@v13

      - name: Check Nix flake inputs
        uses: DeterminateSystems/flake-checker-action@v12
        with:
          fail-mode: true
          check-outdated: false

      - name: Check Nix flake outputs
        run: nix flake check -v --all-systems
